.progressive {
  position relative
  display block
  overflow hidden
  img {
    display block
    width 100%
    max-width 100%
    height auto
    border 0 none
    &.preview {
      filter blur(2vw)
      transform scale(1.05)
    }
    &.hide {
      opacity 0
    }
    &.origin {
      position absolute
      left 0
      top 0
      animation origin 1.5s ease-out
    }
    &.origin-scale {
      position absolute
      left 0
      top 0
      animation origin-scale 1s ease-out
    }
  }
}

@keyframes origin {
  0% {
    opacity 0
  }
  100% {
    opacity 1
  }
}
@keyframes origin-scale {
  0% {
    opacity 0
    transform scale(1.1)
  }
  100% {
    opacity 1
    transform scale(1)
  }
}